/* 第二大块 */

.whole-choose {
    /*border: 1px solid red;*/
    width: 1190px;
    height: 665px;
    background: #f5f5f5;
    /*text-align: center;*/
    padding: auto;
    margin: auto;
}

/* 第二块的 导航栏*/

.whole-choose .choose-Navigation {
    width: 100%;
    height: 30px;
    background: #ff8000;
    font-size: 16px;
    /*display: flex;*/
    /*flex-direction: row;*/
    cursor: pointer;
    /*line-height: 30px;*/
    position: relative;
}

.whole-choose .choose-Navigation .left {
    height: 30px;
    width: 190px;
    color: white;
    text-align: center;
    background: #ff5000;
}

.whole-choose .choose-Navigation .left a,
.whole-choose .choose-Navigation .right a{
    color: white;
}
.whole-choose .choose-Navigation .right {
    margin-left: 15px;
    width: 1000px;
    float: right;
    margin-top: -28px;
    padding-left: 10px;
}

.whole-choose .choose-Navigation .right a {
    margin: 0 5px;
}

.choose-Navigation .left a:hover,
.choose-Navigation .right a:hover{
    color: #282827;
}
.choose-Navigation a:nth-child(5),
.choose-Navigation a:nth-child(6),
.choose-Navigation a:nth-child(7),
.choose-Navigation a:nth-child(8),
.choose-Navigation a:nth-child(9),
.choose-Navigation a:nth-child(10),
.choose-Navigation a:nth-child(11),
.choose-Navigation a:nth-child(13),
.choose-Navigation a:nth-child(14),
.choose-Navigation a:nth-child(15) {
    font-size: 15px;
    margin-left: 15px;
}

/* 第二块的图标部分*/

.more-choose {
    display: flex;
    flex-direction: row;
    width: 890px;
    height: 512px;
}

/* 左侧竖排选项*/
.more-choose .choose-Navigation-left {
    display: flex;
    flex-direction: row;
    border: 1px solid #ff8000;
    border-top: none;
    width: 190px;
    font-size: 14px;
    cursor: pointer;
    height: 520px;
    background: white;
}

.choose-Navigation-left .one a:hover {
    color: #ff5500;
}

.choose-Navigation-left .two a:hover {
    color: #ff5000;
}


.choose-Navigation-left span.one {
    padding: 10px 20px;
    /*border: 1px solid pink;*/
    width: 175px;
    color: #666;
    float: left;
    display: flex;
    flex-direction: column;
}

.choose-Navigation-left span.two {
    /*border: 1px solid pink;*/
    width: 15px;
    display: flex;
    flex-direction: column;
    float: left;
    background: white;
    padding: 10px 5px;
    margin-right: 3px;
}

.choose-Navigation-left span a {
    color: #666;
    margin-top: 12px;
}

/* 中间图片部分*/
.choose-Navigation-center {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 690px;
    height: 285px;
    /*border: 1px solid purple;*/
    margin-left: 6px;
}

/*中间上边图片部分*/

.choose-Navigation-center .choose-Navigation-center-up {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}

.choose-Navigation-center .choose-Navigation-center-up img:nth-child(1) {
    width: 520px;
    height: 280px;
}

.choose-Navigation-center .choose-Navigation-center-up img:nth-child(2) {
    width: 160px;
    height: 280px;
    margin-left: 5px;
}

/*中间两个图片部分的中间*/

.choose-Navigation-center .chaqu {
    width: 525px;
    height: 31px;
    float: left;
    /*border: 1px solid red;*/
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.choose-Navigation-center .chaqu img {
    width: 122px;
    height: 22px;
    margin-left: 5px;
    /*margin-top: 10px;*/
    /*border: 1px solid red;*/
    /*margin-top: 5px;*/
}

.choose-Navigation-center .chaqu div {
    width: 520px;
    height: 4px;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}


.choose-Navigation-center .chaqu div .color1 {
    width: 115px;
    background: #000000;
}

.choose-Navigation-center .chaqu div .color2 {
    width: 577px;
    background: #ff1648;

}

.choose-Navigation-center .chaqu span {
    position: absolute;
    color: #848484;
    margin-left: 130px;
}

/*中间下边图片部分*/

.choose-Navigation-center .choose-Navigation-center-down {
    display: flex;
    flex-direction: row;
}

.choose-Navigation-center .choose-Navigation-center-down .choose-Navigation-center-down-left {
    display: flex;
    flex-direction: row;
    width: 520px;
    margin-left: 4px;
    background: white;
}

.choose-Navigation-center .choose-Navigation-center-down .choose-Navigation-center-down-left img:nth-child(1) {
    width: 250px;
    height: 190px;
    /*margin: 3px 5px;*/
    margin-top: 5px;
    margin-left: 6px;
}

.choose-Navigation-center .choose-Navigation-center-down .choose-Navigation-center-down-left img:nth-child(2) {
    width: 250px;
    height: 190px;
    /*margin: 3px 10px;*/
    margin-left: 10px;
    margin-top: 5px;
}

.choose-Navigation-center .choose-Navigation-center-down .choose-Navigation-center-down-right span {
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    color: #a1a1a1;
}

.choose-Navigation-center .choose-Navigation-center-down .choose-Navigation-center-down-right img {
    position: absolute;
    margin-left: 8px;
    margin-top: -4px;
}

/* 第二部分右侧*/

.choose-Navigation-right {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 640px;
    margin-left: 13px;
}

/*右侧第一块*/
.choose-Navigation-right .a {
    width: 290px;
    height: 145px;
    background-image: url("../imgs/图7.png");
    background-size: 290px;
    margin-top: 5px;
}


.choose-Navigation-right .a .photo {
    width: 74px;
    height: 56px;
    /*border: 1px solid red;*/
    text-align: center;
    margin-top: 5px;
    margin-left: 35%;
}

.choose-Navigation-right .a .photo img {
    border-radius: 50%;
    /*text-align: center;*/
    /*margin-left: 40%;*/
    /*margin-top: 20px*/
}

.choose-Navigation-right .a p {
    width: 290px;
    height: 17px;
    /*border: 1px solid red;*/
    text-align: center;
    margin: -7px;
}

.choose-Navigation-right .a .test {
    display: flex;
    flex-direction: row;
    width: 290px;
    height: 17px;
    margin-top: 5px;
}

.choose-Navigation-right .a .test p {
    margin: 0;
    /*border: 1px solid red;*/
    text-align: center;
    border-radius: 30px;
    /*float: right;*/
    margin-left: 30px;
    line-height: 17px;
    background: #ffe4db;
    color: #ff8000;
}

.choose-Navigation-right .a .test .p1 {
    width: 102px;
}

.choose-Navigation-right .a .test .p2 {
    width: 90px;
}

.choose-Navigation-right .a .btn {
    width: 290px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
}

.choose-Navigation-right .a .btn .btn1,
.choose-Navigation-right .a .btn .btn2,
.choose-Navigation-right .a .btn .btn3 {
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background: #ff5501;
    color: #fff;
    height: 25px;
}

.choose-Navigation-right .a .btn .btn1 {
    width: 92px;
    outline: none;
}

.choose-Navigation-right .a .btn .btn2 {
    width: 75px;
    outline: none;
}

.choose-Navigation-right .a .btn .btn3 {
    width: 75px;
    outline: none;
}

/*右侧第二块*/

.choose-Navigation-right .b {
    width: 290px;
    height: 28px;
    text-align: center;
    line-height: 26px;
    background: #ffe4dd;
    cursor: pointer;
}

.choose-Navigation-right .b p {
    width: 290px;
    height: 26px;
    margin-top: 0;
    color: #ff5501;
}

/*右侧第三块*/

.choose-Navigation-right .c {
    width: 290px;
    height: 108px;
    display: flex;
    flex-direction: column;
    background: white;
}

.choose-Navigation-right .c a {
    color: #3C3C3C;
}

.choose-Navigation-right .c .c1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.choose-Navigation-right .c .c1 a:hover {
    color: #ff8000;
}

.choose-Navigation-right .c .c1 .aa1 {
    border-bottom: 2px solid #ff8000;
}

.choose-Navigation-right .c .c2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 5px;
}

.choose-Navigation-right .c .c2 .aa2 {
    color: #ff8000;
    padding-left: 10px;
}

.choose-Navigation-right .c .c2 .c2-1 {
    margin-top: 10px;
    padding-left: 10px;
}

.choose-Navigation-right .c .c2 .c2-1 .aa3:hover {
    color: #ff8000;
}


.choose-Navigation-right .c .c2 .c2-1:nth-child(2) {
    padding-left: 10px;
}

/*右侧第四块*/

.choose-Navigation-right .d {
    width: 290px;
    height: 230px;
    background: white;
}

.choose-Navigation-right .d .iconfont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}


.choose-Navigation-right .d .iconfont .i1,
.choose-Navigation-right .d .iconfont .i2,
.choose-Navigation-right .d .iconfont .i3,
.choose-Navigation-right .d .iconfont .i4,
.choose-Navigation-right .d .iconfont .i5,
.choose-Navigation-right .d .iconfont .i6,
.choose-Navigation-right .d .iconfont .i7,
.choose-Navigation-right .d .iconfont .i8,
.choose-Navigation-right .d .iconfont .i9,
.choose-Navigation-right .d .iconfont .i10,
.choose-Navigation-right .d .iconfont .i11,
.choose-Navigation-right .d .iconfont .i12 {
    border: 1px solid lightgrey;
    width: 70px;
    height: 76px;
    text-align: center;
    margin-top: -1px;
    margin-left: 2px;
    cursor: pointer;
}

.choose-Navigation-right .d .iconfont .i1:hover,
.choose-Navigation-right .d .iconfont .i2:hover,
.choose-Navigation-right .d .iconfont .i3:hover,
.choose-Navigation-right .d .iconfont .i4:hover,
.choose-Navigation-right .d .iconfont .i5:hover,
.choose-Navigation-right .d .iconfont .i6:hover,
.choose-Navigation-right .d .iconfont .i7:hover,
.choose-Navigation-right .d .iconfont .i8:hover,
.choose-Navigation-right .d .iconfont .i9:hover,
.choose-Navigation-right .d .iconfont .i10:hover,
.choose-Navigation-right .d .iconfont .i11:hover,
.choose-Navigation-right .d .iconfont .i12:hover {
    color: #ff8000;
}

.choose-Navigation-right .d .iconfont .icon {
    width: 24px;
    height: 24px;
    /*border: 1px solid lightgrey;*/
    margin-top: 10px;
}

/*右侧第五块*/

.choose-Navigation-right .e {
    width: 290px;
    height: 28px;
    background: white;
    margin-top: 2px;
    cursor: pointer;
}

.choose-Navigation-right .e .e-test {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
}

.choose-Navigation-right .e .e-test :hover {
    color: #ff8000;
}

/*右侧第六块*/

.choose-Navigation-right .f {
    width: 290px;
    height: 84px;
    background: white;
}

.choose-Navigation-right .f .choose-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}

.choose-Navigation-right .f .choose-logo .line-1 {
    display: flex;
    flex-direction: row;
}

.choose-Navigation-right .f .choose-logo .line-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choose-Navigation-right .f .choose-logo .line-1 img:hover,
.choose-Navigation-right .f .choose-logo .line-2 img:hover {
    /*width: 35px;*/
    /*height: 35px;*/
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.choose-Navigation-right .f .choose-logo .line-1 img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-top: 5px;

}

.choose-Navigation-right .f .choose-logo .line-1 img:nth-child(1) {
    margin-left: 20px;
}


.choose-Navigation-right .f .choose-logo .line-2 img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
}

.choose-Navigation-right .f .choose-logo .line-2 img:nth-child(1) {
    margin-left: 20px;
}

/* 最下边的一条*/

.choose-Navigation-left-down {
    background: white;
    width: 888px;
    margin-left: -196px;
    margin-top: 20px;
}

.choose-Navigation-left-down .end {
    /*border: 1px solid red;*/
    height: 93px;
    display: flex;
    flex-direction: row;
}

.choose-Navigation-left-down .end .end-1,
.choose-Navigation-left-down .end .end-2,
.choose-Navigation-left-down .end .end-3,
.choose-Navigation-left-down .end .end-1 img,
.choose-Navigation-left-down .end .end-1 p,
.choose-Navigation-left-down .end .end-3 .end-3-1,
.choose-Navigation-left-down .end .end-3 .end-3-2,
.choose-Navigation-left-down .end .end-3 .end-3-3 {
    cursor: pointer;
    /*border: 1px solid red;*/
}

.choose-Navigation-left-down .end .end-1 {
    margin-left: 20px;
}

.choose-Navigation-left-down .end .end-1 img {
    margin-top: 25px;
}

.choose-Navigation-left-down .end .end-1 p {
    margin-top: -5px;
    margin-left: 25px;
    color: #999;
}

.choose-Navigation-left-down .end .end-2 {
    margin-left: 25px;
    margin-top: 15px;
}

.choose-Navigation-left-down .end .end-3 {
    margin-left: 10px;
    margin-top: 8px;
    width: 560px;
}

.choose-Navigation-left-down .end .end-3 .end-3-1 {
    margin-top: 5px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.choose-Navigation-left-down .end .end-3 .end-3-1:hover,
.choose-Navigation-left-down .end .end-3 .end-3-2:hover {
    color: #ff8000;
}


.choose-Navigation-left-down .end .end-3 .end-3-2 {
    float: right;
    top: 14px;
    right: 16px;
    color: #999;
    font-size: 12px;
}

.choose-Navigation-left-down .end .end-3 .end-3-3 {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}
