/*第一块*/

.whole-promotion .three-one {
  /*border: 1px solid red;*/
  /*width: 100%;*/
  height: 94px;
  width: 1190px;
  text-align: center;
  position: relative;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  //box-shadow: 1px 2px 3px rgba(0, 0, 0, .07);

}
